.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  height: 50px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
